blinker
certifi
charset-normalizer
click
contourpy
cycler
dnspython
Flask
Flask-Cors
fonttools
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
PyJWT
pyModbusTCP
pymongo
pyparsing
python-dateutil
pytz
requests
schedule
scikit-learn
scipy
setuptools
six
threadpoolctl
tzdata
urllib3
Werkzeug
wheel
